.Cart-menu {
    position: absolute;
    top: 40px;
    left: -350px;
    background-color: #212121;
    box-shadow: 1px 1px 5px 1px rgb(10, 11, 42);
    width: 400px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
}

.Cart-menu__arrange {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
}

.Cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}