.btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: transparent;
}

.btn--fff {
    background-color: rgb(255, 255, 255);
    padding: .2rem .3rem;
    border: 1px solid gray;
}

.btn--secondary {
    background-color: transparent;
}

.btn--small {
    font-size: 14px;
}

.btn--medium {
    font-size: 18px;
}