.FootballList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media (max-width: 470px) {
    .FootballList {
        justify-content: center;
    }
}