.Items-in-cart {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 120, 2);
    z-index: 2;
    left: 20px;
    top: -9px;
}