.Toolbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

@media (max-width: 620px) {
    .Toolbar ul {
        display: none;
    }
}