.Logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 4rem;
}
.logo__respon{
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width:410px) {
    .Logo{
        display: none;
    }
    .logo__respon {
        display: block;

    }
}