.AuthForm {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 2rem 0;
    flex-direction: column;
}
.AuthForm p{
    margin-bottom: 20px;
}
.AuthForm .btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.AuthForm input {
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 10px;
}

.AuthForm__icon {
    background-color: rgb(194, 192, 192);
    width: 40px;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 5px;

}

.AuthForm button {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    background-color: crimson;
    color: white;
}

.AuthForm button:hover {
    background-color: rgb(149, 17, 43);
}

@media (max-width: 450px) {
    .AuthForm input {
        width: 200px;
    }

    .AuthForm button {
        padding: 5px 10px;
        margin-left: 5px;
    }
}