.MainHeader {
    display: flex;
    justify-content: space-between;
    background-color: #cddef0;
    margin-bottom: 2rem;
    flex-direction: row-reverse;
    margin-top: 50px;
}

.MainHeader__left {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 10rem;
}

.MainHeader__left h1 {
    font-size: 3rem;
    margin: 0;
}

.MainHeader__link {
    display: block;
    margin-top: 6rem;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    padding: .5rem 0;
    text-align: center;
    width: 120px;
}

.MainHeader__right img {
    width: 500px;
    border: 10px solid white;
    padding: .5rem;
    object-fit: cover;
    object-position: center;
    
}

.MainHeader__right {
    padding: 2rem 4rem;
}


@media (max-width:500px) {
    .MainHeader {
        flex-direction: column;
    }

    .MainHeader__left {
        width: 100%;
        margin: 0;
        margin-left: 2rem;
        margin-bottom: 3rem;

    }

    .MainHeader__link {
        margin-top: 2rem;
    }

    .MainHeader__right img {
        width: 400px;
    }
}
