.Drawer .content {
    padding: 1rem 0;
    background-color: rgb(3, 3, 11);
    color: white;
    width: 100%;
    overflow: hidden;
    text-align: center;

    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 4;

    transform: translateY(-110%);
    transition: transform .3s;
}

.Drawer .backdrop {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.Drawer ul{
    flex-direction: column;
    margin: 0 auto;
}
.open .backdrop {
    display: block;
}

.open .content {
    transform: translateY(0);
}

@media (min-width: 980px) {
    .Drawer .backdrop {
        display: none;
    }

    .Drawer .content {
        transform: translateY(-110%);
    }
}