.Header {
    min-height: 70vh;
    background-color: #010113;
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}
.Header__left h1{
    text-transform: uppercase;
    text-align: center;

}
.Header__left h1,p{
    max-width: 400px;
}
.Header__right{
    
    display: flex;
    justify-content: center;
    
}
.Header__right img{
    border-radius: 25px;
    max-width: 600px;

    margin: 1rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;

}
@media (max-width: 980px) {
    .Header {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .Header__left{
        margin: 10px;
    }
}
@media (max-width: 685px) {
    .Header__left h1,p{
        margin: 0;
        max-width: 400px;
    }
    .Header__right{
        margin: 0;
    }
}
@media (max-width: 485px) {

    
}