.Header {
    min-height: 70vh;
    background-color: #010113;
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    
}
.Header__left{
    margin-left: 5rem;
}
.Header__left h1{
    text-transform: uppercase;
    text-align: center;

}
.Header__left h1,p{
    margin: 2rem 0 0 4rem;
    max-width: 400px;
}
.Header__right{
    margin-right: 2rem;
}
.Header__right img{
    border-radius: 25px;
    margin: 1rem;
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: center;

}