.Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #e4e4e4;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .header__link {
    padding: .8rem .5rem;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 4rem;
}

.header__link {
    display: block;
    text-transform: uppercase;
    padding-left: 40px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s ease-in;

}

.header__link .active {
    border-bottom: 2px solid rgb(255, 2, 2);
}

.header__link:hover {
    background-color: rgb(0, 0, 0);
    color: white;

}

.activeRed {
    color: red;
}