.Gallery {
    font-family: 'Mulish', sans-serif;
    overflow: hidden;
    margin: 0;
    color: #111;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    background-image: url(../../../public/assets/header.jpeg);
    
}

.slide h3 {
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.slide.active {
    flex: 10;
}

.slide.active h3 {
    opacity: 1;
    transform: opacity .3s ease-in .4s;
}
.ranaldo{
    background-image: url(../../../public/assets/ranaldo.jpg    );
}