.Nav {
    text-align: center;
}

.Nav__header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.Nav__item {
    width: 100px;
    padding: 0;
    margin: 0;
}


.Nav__img {
    width: 60px;
    border: 6px solid #fff;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 50%;
    transition: all .3s ease;
}

.Nav__img:hover {
    border: none;
}

.Nav__title {
    font-size: 1.5rem;
}