.NavSecond {
    margin: 3
    0px 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavSecond__title {
    margin-top: 30px;
    font-size: 1.5rem;
}

.NavSecond img {
    width: 51px;
    border-radius: 50%;
}


.NavSecond li {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.3125rem;

}

.NavSecond p {
    padding-top: 0.5rem;
}

.NavSecond__item {
    list-style: none;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 1rem 0.5rem 0.3125rem;
    width: 100%;
    white-space: nowrap;
}