.FootballItem {
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    box-shadow: 4px 3px 5px 1px rgb(197, 196, 196);
    transition: all .4s ease-in;
    margin-left: 50px;
    margin-bottom: 50px;
}

.FootballItem:hover {
    box-shadow: -4px -3px 5px 1px rgb(197, 196, 196);
}



.footballitem__title {
    font-size: 18px;
    font-weight: bold;

}

.footballitem__detalis {
    padding: 10px 20px;
}

.footballitem__description {
    margin-top: 10px;
    font-size: 14px;
}