.NavItem a {
    display: inline-block;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in;
    position: relative;
    margin: 0 5px;
}

li {
    display: inline-block;
}

.NavItem a:hover {
    color: #fff;
}

.NavItem a::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s;
}

.NavItem a:hover::before {
    transform: scaleX(1);
}

.NavItem a.active::before {
    transform: scaleX(1);
}

@media (max-width: 980px) {
    li {
        display: block;
    }

    .NavItem a::before {
        content: none;
    }

    .NavItem a.active {
        border-color: rgb(251, 251, 251);
    }

    .NavItem a {
        border-bottom: none;
        border-right: 3px solid transparent;
    }
}