.PlayersHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.PlayersHeader__item {
    margin: 0 10px;
}

.PlayersHeader__item img {
    height: 190px;
    border-radius: 10px;
}