.PlayersHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
}

.PlayersHeader__item {
    width: 150px;
    margin: 0 10px;
}
.PlayersHeader__item img {
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    height: 190px;
    border-radius: 10px;
    transition: transform .2s;
}
.PlayersHeader__item img:hover{
    transform: scale(1.2);
}