* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
button{
  cursor: pointer;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
p{
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}